<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>체험단이벤트</title>
    <link rel="stylesheet" href="/css/event_1/plugin/reset.css">
    <link rel="stylesheet" href="/css/event_1/plugin/common.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/event_1/plugin/slick.css">
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<section id="container">
    <section id="contents">
        <div class="icon"><img src="/images/error/icon.png" alt=""></div>
        <div class="top_text">일시적인 오류가 발생했습니다.</div>
        <div class="line"><img src="/images/error/line.png" alt=""></div>
        <div class="bottom_text">서비스 이용에 불편을 드려 죄송합니다. 잠시 후 다시 시도해 주세요.</div>
        <a href="/"><div class="home_btn">홈으로 가기</div></a>
        <div class="text01">고객센터 문의 | 1588-3745</div>
        <div class="text02">(평일 09:00 - 18:00)</div>
    </section>
</section>
</body>
</html>