<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${event.title}"></title>

    <link rel="stylesheet" href="/css/regUser.css">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <script src="/js/experience.js"></script>
    <script th:inline="javascript">
        $(document).ready(function(){
            var topBar = $("#topBar").offset();
            $(window).scroll(function(){
                var docScrollY = $(document).scrollTop()
                var barThis = $("#topBar")
                if( docScrollY > topBar.top ) {
                    barThis.addClass("top_bar_fix");
                }else{
                    barThis.removeClass("top_bar_fix");
                }
            });
        });
    </script>
</head>
<body>
<div class="wrap">
    <div class="top_bn_zone">상단배너영역</div>
    <div class="top_fix_zone" id="topBar">
        <div>상단고정영역</div>
    </div>
    <div class="top_con_zone" id="fixNextTag"> 하단 ontents 영역</div>
</div>

<div class="container" style="margin-left: 200px">
    <div class="mb-5">
        <h2 th:text="${event.title}"></h2>
        <h2 th:text="${event.start_Date} + '(' + ${event.start_Dy} + ') ~ ' + ${event.end_Date} + '(' + ${event.end_Dy} + ')'"></h2>
        <img style="width: 540px; height: 500px;" th:src="'/images/event_2/' + ${event.img_Nm} + '.jpg'"/>
    </div>


    <hr>



    <h3>관련상품</h3>
    <div class="d-flex mr-4">
        <th:block th:each="prod : ${prodList}">
            <div>
                <a th:href="'https://m.dongwonmall.com/product/detail.do?productId=' + ${prod.productId}"><img style="width: 300px; height: 300px;" th:src="'https://img.dongwonmall.com/dwmall/static_root/model_img/main/' + ${prod.img_Nm}"/></a>
                <p th:text="${prod.product_Nm}"></p>
                <p th:text="${prod.price}"></p>
            </div>
        </th:block>
    </div>


    <hr>

    <th:block th:if="${event.eventIng == 'N'}">
        <button class="btn btn-secondary" disabled="disabled">응모 마감</button>
    </th:block>
    <th:block th:unless="${event.eventIng == 'N'}">
        <!--  로그인 정보 유무 확인  -->
        <th:block th:if="${session.user_Seq} == null">
            <button class="btn btn-primary" onclick="popUp()">사용자 등록하기</button>

            <!-- 사용자 등록 모달 창 띄우기 -->
            <form class="d" id="frm3" action="" method="post">
                <div class="popup-wrap" id="popup">
                    <div class="popup">
                        <div class="popup-head">
                            <span class="head-title">사용자 등록</span>
                        </div>
                        <div class="popup-body">
                            <div class="body-content">
                                <label for="name">이름</label>
                                <input type="text" id="name" name="name" placeholder="이름을 입력해 주세요" >
                                <label for="phone_No">휴대폰 번호 &nbsp;&nbsp;&nbsp;&nbsp;ex) 010-1234-5678</label>
                                <input type="text" id="phone_No" name="phone_No" placeholder="휴대폰 번호를 입력해 주세요">
                            </div>
                        </div>
                        <div class="popup-footer">
                            <span class="popup-btn confirm" onclick="regUser()">등록</span>
                            <span class="popup-btn" onclick="modalClose()">창 닫기</span>
                        </div>
                    </div>
                </div>
            </form>


        </th:block>
        <th:block th:unless="${session.user_Seq} == null">
            <!--   기존 사용자   -->
            <th:block th:if="${session.isReg == 'T'}">
                <button class="btn btn-secondary" disabled="disabled">응모 완료</button>
            </th:block>
            <!--   신규 사용자   -->
            <th:block th:unless="${session.isReg == 'T'}">
                <form id="frm" method="post" action="">
                    <div>댓글</div>

                    <input type="hidden" id="event_Seq" name="event_Seq" th:value="${event.event_Seq}"/>
                    <input type="hidden" id="user_Seq" name="user_Seq" th:value="${session.user_Seq}"/>
                    <input type="text" id="content" name="content" style="width: 50rem; height: 15rem;" maxlength="501" onkeyup="lenthCheck()"/>
                    <span id="textLengthCheck">(0 / 최대 500자)</span>
                    <button type="button" class="btn btn-primary" onclick="contentReg()">댓글 등록</button>
                </form>
            </th:block>
        </th:block>
    </th:block>



    <hr>



    <div style="height: 650px;">
        <!-- 댓글 보여주기 -->
        <div class="d-flex">
            <div  class="mb-4 mr-3" th:text="'댓글 ' + ${totalCnt} + '개'"></div>

            <th:block th:if="${session.user_Seq == null}">
                <button type="button" class="btn" onclick="popUp()">내 댓글 보기</button>
            </th:block>
            <th:block th:unless="${session.user_Seq == null}">
                <th:block th:if="${myContent == 0}">
                    <button type="button" class="btn" onclick="myContent()">내 댓글 보기</button>
                </th:block>
                <th:block th:unless="${myContent == 0}">
                    <button type="button" class="btn" onclick="myContent()">전체 댓글 보기</button>
                </th:block>
            </th:block>


        </div>
        <form id="frm2" method="get" action="">
            <!-- 댓글 -->
            <div id="contentTable">
                <div class="mb-4" th:each="content : ${contentList}" style="height: 140px;">
                    <div class="d-flex">
                        <div class="mr-3" th:text="${content.name}"></div>
                        <div th:text="${content.reg_Datetime}"></div>
                    </div>
                    <div class="d-flex">
                        <div class="mr-3"><img th:src="'/images/' + ${content.grd_Nm} + '.png'" style="width: 60px; height: 60px;" alt=""></div>
                        <div class="mr-3" th:text="${content.content}"></div>
                        <th:block th:unless="${event.eventIng == 'N'}">
                            <th:block th:unless="${session.user_Seq} == null">
                                <button class="btn" type="button" th:if="${session.user_Seq == content.user_Seq}" th:onclick="|javascript:delContent('${session.user_Seq}')|">삭제</button>
                            </th:block>
                        </th:block>
                    </div>
                </div>
                <!--    페이징 처리    -->
                <div th:with="startPage=${page-(page%5)}">
                    <input type="hidden" name="event_Seq" th:value="${event.event_Seq}"/>
                    <input type="hidden"  id="page" name="page" value=""/>
                    <input type="hidden" id="myContent" name="myContent" th:value="${myContent}"/>
                    <ul class="nav d-flex">
                        <div th:if="${page == 0}">
                            <li class="ml-2"><a style="cursor:pointer">◁</a></li>
                        </div>
                        <div th:unless="${page == 0}">
                            <li class="ml-2"><a style="cursor:pointer" th:onclick="|javascript:pageLoad('${page-1}')|">◁</a></li>
                        </div>

                        <th:block th:each="i : ${#numbers.sequence(0,4)}">
                            <div th:if="${i+startPage < totalPage}">
                                <div th:if="${page == i+startPage}">
                                    <li class="ml-2 font-weight-bold"><a style="cursor:pointer" th:text="${i+startPage+1}" th:onclick="|javascript:pageLoad('${i+startPage}')|" ></a></li>
                                </div>
                                <div th:unless="${page == i+startPage}">
                                    <li class="ml-2"><a style="cursor:pointer" th:text="${i+startPage+1}" th:onclick="|javascript:pageLoad('${i+startPage}')|" ></a></li>
                                </div>
                            </div>
                        </th:block>

                        <div th:if="${page+1<totalPage}">
                            <li class="ml-2"><a style="cursor:pointer" th:onclick="|javascript:pageLoad('${page+1}')|">▷</a></li>
                        </div>
                        <div th:unless="${page+1<totalPage}">
                            <li class="ml-2"><a style="cursor:pointer" >▷</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>