<!DOCTYPE html>
<html>
<head>
    <title>이벤트_체험단</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Jua&display=swap" rel="stylesheet">
</head>
<body>
<div class="main">
    <div class="event pt-5 d-flex justify-content-center container">
        <div class="event_content">
            <div class="d-flex justify-content-center">
                <img src="https://img.dongwonmall.com/dwmall/web/images/icon/logo_150.gif" alt="동원몰 아이콘" width="400px" style="margin-left: 170px;" class="mb-4">
            </div>
            <div>
                <h1 style="font-size: 70px; margin-bottom: 40px;" class="d-flex justify-content-center align-items-center">이벤트 체험단</h1>
            </div>
            <hr>
            <div class="text-secondary  font-weight-bold">
                <h4 style="font-size: 60px;"class="d-flex justify-content-center">동원몰에서 다양한 이 달의 </h4>
                <h4 style="font-size: 60px;"class="d-flex justify-content-center">이벤트의 혜택을 누리세요.</h4>
            </div>
            <hr>
            <section class="event_a" style="width: 700px;">
                <div class="event_b">
                    <div>
                        <a href="/event/main.do?E_CNT=6&version=1"><button class="event_btn btn btn-primary">이벤트 체험단 version 1</button></a>
                    </div>
                    <div>
                        <a href="/event/main.do?E_CNT=6&version=2"><button class="event_btn btn btn-primary">이벤트 체험단 version 2</button></a>
                    </div>
                    <div>
                        <a href="/event/main.do?E_CNT=6&version=3"><button class="event_btn btn btn-primary">이벤트 체험단 version 3</button></a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</body>
</html>