
/* footer */
footer{
    background-color:#f8f8f8;
    margin-top:5vh;
}
/* top btn */
#back-to-top{
    position:fixed;
    bottom:10%;
    right:5%;
    width:48px;
    height:48px;
    border-radius:50%;
    display:inline-block;
    transition:all 0.3s ease-in-out;
    opacity:0;
    background:var(--dw-blue);
    z-index:22;
}
#back-to-top .topbtn{
    font-size:36px;
    color:#ffffff;
    display:block;
    text-align:center;
    line-height:44px;
}
#back-to-top.visible{
    opacity:1;
}

.footer-nav{
    padding:4vw 0;
    display:flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap:8%;
    position:relative;
}
.footer-nav li{
    position:relative;
}
.footer-nav li a{
    padding:2vw 0;
    font-size:3.333vw;
    color:#777777;
    line-height:1.2;
}
.footer-nav li a.personal{
    font-weight:600;
    color:#555555;
}

/* family-site */
.family-site{
    position:relative;
    margin-bottom:20px;
}
.family-site input{
    display:none;
}
.family-site label{
    display:block;
    border:1px solid #d0d0d0;
    position:relative;
    cursor: pointer;
    width:97%;
    height:8.333vw;
    line-height:8.333vw;
    padding-left:2.778vw;
    border-radius:8px;
    color:#777777;
    font-size:3.811vw;
    font-weight:500;
    background-color:#fdfdfd;
}
.family-site label::after{
    content:'';
    display:block;
    background:url(../../images/event_2/icons/arrow_up.svg) no-repeat center center/100%;
    opacity:.6;
    width:6.667vw;
    height:6.667vw;
    position:absolute;
    bottom:0px;
    right:5%;
    transition:all 0.5s;
}
.family-site .site-links{
    display:none;
    height:0;
}
.family-site ul{
    position:absolute;
    bottom:165px;
    left:50%;
    transform:translateX(-50%);
    width:97%;
    height:100%;
    transition:all 0.5s;
    border-radius:8px;
}
.family-site ul li{
    border:1px solid #d0d0d0;
    border-bottom:none;
    width:97%;
    height:8.889vw;
    line-height:8.889vw;
    padding-left:2.778vw;
    background-color:#ffffff;
    transition:all 0.3s;
    font-size:3.889vw;
    box-shadow:0 10px 8px rgba(209, 209, 209, 0.25);
}
.family-site ul li:first-child{
    border-top-left-radius:8px;
    border-top-right-radius:8px;
}
.family-site ul li a{
    width:inherit;
    display:inline-block;
}
.family-site ul li:last-child{
    border-bottom:1px solid #bbb;
}
.family-site input:checked ~ .site-links{
    display:block;
    height:100%;
    transition:all 0.5s;
}
.family-site input:checked ~ label::after{
    transform: rotate(-180deg) translateY(2.222vw);
    transition:all 0.5s;
}
footer p, address{
    color:#888888;
    line-height:1.4;
    font-size:3.22vw;
}
.footer-row-01 .info-confirm, .footer-row-02>a{
    display:inline-block;
    font-weight:600;
    color:#4d4d4d;
    margin-left:2.222vw;
}
.footer-row-01>a{
    color:var(--dw-blue);
    font-size:6vw;
}
.footer-row-01>.point{
    font-weight:600;
}
.footer-row-01>a>span{
    color:#777777;
    padding-bottom:1vw;
    font-size:3.333vw;
    display:inline-block;
    margin-left:2vw;
}
.footer-row-01{
    margin:6vw 0 2vw;
}
.footer-row-03{
    margin-bottom:2vw;
}
.footer-row-03 .point{
    color:var(--dw-blue);
}
.footer-row-04{
    margin-bottom:3vh;
}
.footer-row-05{
    padding-bottom:5vh;
    font-weight:500;
    text-align:center;
    margin-top:3vh;
    color:#8d8d8d;
}